<div *ngIf="user" class="container-fluid mt-4">
  <div class="col-md-12 text-center">
    <img src="https://cdn4.iconfinder.com/data/icons/free-large-boss-icon-set/512/Supervisor.png" alt="avatar standard">
  </div>
  <div *ngIf="error" class="col-md-12 text-center alert alert-danger mt-4 mb-4">
    {{ this.error }}
  </div>
  <div *ngIf="isSuccess" class="col-md-12 text-center alert alert-success mt-4 mb-4">
    Success! User updated
  </div>
  <div class="row mt-4">
    <div class="col-md-3 top"><strong>Email: </strong></div>
    <div class="col-md-7 text-center top" *ngIf="!isEmailChanging">{{ user.email }}</div>
    <input *ngIf="isEmailChanging" type="email" class="form-control col-md-7" aria-describedby="emailHelp"
           placeholder="Enter your email" [(ngModel)]="email">
    <button class="btn btn-link col-md-2 no-outline" (click)="changeEmail('email', email)">{{ !isEmailChanging ? 'change' : 'Save' }}</button>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 top"><strong>Password: </strong></div>
    <div class="col-md-7 text-center top" *ngIf="!isPassChanging">{{ user.password.length }} symbols</div>
    <input *ngIf="isPassChanging" type="password" class="form-control col-md-7" aria-describedby="passwordHelp"
           placeholder="Enter your password" [(ngModel)]="password">
    <button class="btn btn-link col-md-2 no-outline" (click)="changePass('password', password)">{{ !isPassChanging ? 'change' : 'Save' }}</button>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 top"><strong> Name: </strong></div>
    <div class="col-md-7 text-center top" *ngIf="!isNameChanging">{{ user.firstName }}</div>
    <input *ngIf="isNameChanging" type="text" class="form-control col-md-7" aria-describedby="firstNameHelp"
           placeholder="Enter your first name" [(ngModel)]="firstName">
    <button class="btn btn-link col-md-2 no-outline" (click)="changeName('firstName', firstName)">{{ !isNameChanging ? 'change' : 'Save' }}</button>
  </div>
  <div class="row mt-4">
    <div class="col-md-3 top"><strong> Surname: </strong></div>
    <div class="col-md-7 text-center top" *ngIf="!isSurnameChanging">{{ user.lastName }}</div>
    <input *ngIf="isSurnameChanging" type="text" class="form-control col-md-7" aria-describedby="lastNameHelp"
           placeholder="Enter your last name" [(ngModel)]="lastName">
    <button class="btn btn-link col-md-2 no-outline" (click)="changeSurname('lastName', lastName)">{{ !isSurnameChanging ? 'change' : 'Save' }}</button>
  </div>
  <div *ngIf="user.role !== 'admin'" class="row mt-4 justify-content-center">
    <button class="btn btn-primary col-md-4 no-outline" (click)="changeRole('role', 'admin')">Want to be like Admin</button>
  </div>
  <!-- Admin role -->
  <div class="mt-4" *ngIf="user.role === 'admin'">
    <p class="text-center"> <strong>All users</strong> </p>
    <table class="table table-striped">
      <thead>
      <tr>
        <td> Username </td>
        <td> First Name </td>
        <td> Last Name </td>
        <td> Todo's quantity </td>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td> {{ user.username }} </td>
        <td> {{ user.firstName }} </td>
        <td> {{ user.lastName }} </td>
        <td> {{ user.todos.length }} </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
